body { padding-top: 60px; }
.navbar-brand { color : darkred !important; font-weight: bold !important; }
/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
h1, h2, h3, h4, h5, h5 {
  margin-bottom:1em !important;
}
fieldset {
  border:1px solid #eaeaea !important;
  border-radius: 5px;
  padding-left: 1em !important;
  padding-right: 1em !important;
  margin-bottom: 1em;
}
legend  {
  display: inline !important;
  background: #eaeaea !important;
  padding-left:.5em !important;
  padding-right: .5em !important;
}
#comments {
  overflow: auto;
  margin-bottom: 1em !important;
  h2 {
    margin-bottom: .5em !important;
  }
}
.form-actions {
  border:1px solid #eaeaea;
  padding: 1em 1em 2em;
  background-color: #eeeeee;
}